{% extends "site_base.html" %}

{% block extra_head %}{{ block.super }}
        <link rel="stylesheet" href="{{ STATIC_URL }}schedule/css/schedule.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.9.0.custom.min.css" type="text/css" media="screen" />{% endblock extra_head %}

{% block bottom_script %}{{ block.super }}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.9.0.custom.min.js"></script>{% endblock bottom_script %}

{% block rtab_id %}id="schedule_tab"{% endblock %}

{% block subnav %}
<ul>
    {% if user.is_authenticated %}
        <li><a href="">Create a Calendar</a></li>
        <li><a href="">Your Calendars</a></li>
    {% endif %}

        <li><a href="">All Calendars</a></li>
    </ul>
{% endblock %}
