{% extends "events/base.html" %}

{% load events %}

{% block title %}{{ calendar.name }} ({{ periods.month.prev_month }} {{ periods.month.prev_month.year }} - {{ periods.month.next_month }} {{ periods.month.next_month.year }}){% endblock title %}

{% block body %}

{% include "events/_cal_nav.html" with period=periods.month today_view_name="tri_month_calendar" %}

<div id="tri-month-wrap" class="small-cal clearfix">

    <div class="month month1">
        <h3>{{ periods.month.prev_month }}</h3>
        {% month_table calendar periods.month "small" -1 %}
    </div>

    <div class="month month2">
        <h3>{{ periods.month }}</h3>
        {% month_table calendar periods.month "small" %}
    </div>

    <div class="month month3">
        <h3>{{ periods.month.next_month }}</h3>
        {% month_table calendar periods.month "small" +1 %}
    </div>

</div>

{% endblock %}
