{% extends "events/base.html" %}

{% load events %}

{% block title %}{{ calendar.name }} ({{ periods.week }}){% endblock title %}

{% block body %}

{% include "events/_dialogs.html" %}

<nav class="cal-top-nav clearfix">

    <div class="pull-left">

        <div class="today"><a class="btn" href="{% url week_calendar calendar.slug %}">Today</a></div>

        {% prevnext "week_calendar" calendar.slug periods.week "\Week W, M Y"%}

        <div class="period-name">{{ periods.week }}</div>

    </div>

    <div class="pull-right">
        <div class="other-views btn-group">
            <a class="btn" href="{% url day_calendar calendar.slug %}{% querystring_for_date periods.week.start 3 %}">Day</a>
            <a class="btn" href="{% url week_calendar calendar.slug %}{% querystring_for_date periods.week.start 3 %}">Week</a>
            <a class="btn" href="{% url month_calendar calendar.slug %}{% querystring_for_date periods.week.start 2 %}">Month</a>
            <a class="btn" href="{% url tri_month_calendar calendar.slug %}{% querystring_for_date periods.week.start 2 %}">3 Month</a>
            <a class="btn" href="{% url year_calendar calendar.slug %}{% querystring_for_date periods.week.start 1%}">Year</a>
        </div>
    </div>

</nav>

<div id="week-wrap">
    {% for day in periods.week.get_days %}
        <div class="weekday weekday{{forloop.counter}}">
            <div class="weekdayheader">
                <a href="{% url day_calendar calendar.slug %}{% querystring_for_date day.start %}">{{day.start|date:"l, d"}}</a>
            </div>
            <div class="weekdaytable">
                {% if forloop.first %}
                {% daily_table day 232 80 600 9 21 %}
                {% else %}
                {% daily_table day 155 21 600 9 21 %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
