{% extends "events/base.html" %}

{% load events %}
{% load url from future %}

{% block title %}{{ calendar.name }} ({{ periods.week }}){% endblock title %}

{% block base_content %}

{% include "events/_dialogs.html" %}

{% include "events/_cal_nav.html" with period=periods.week today_view_name="week_calendar" %}

<div id="week-wrap">
    {% for day in periods.week.get_days %}
    <div class="weekday weekday{{ forloop.counter }}{% if day.is_today %} today{% endif %}">
        <div class="weekdayheader">
            <a href="{% url 'day_calendar' calendar.slug %}{% querystring_for_date day.start %}">{{ day.start|date:"l, d" }}</a>
        </div>
        <div class="weekdaytable">
            {% if forloop.first %}
            {% daily_table day 232 80 600 9 21 %}
            {% else %}
            {% daily_table day 155 21 600 9 21 %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
