{% extends "events/base.html" %}
{% load events %}

{% block title %}{{ calendar.name }} ({{ periods.day }}){% endblock title %}

{% block body %}

<nav class="cal-top-nav clearfix">

    <div class="pull-left">

        <div class="today"><a class="btn" href="{% url day_calendar calendar.slug %}">Today</a></div>

        {% prevnext "day_calendar" calendar.slug periods.day "l, F d, Y"%}

        <div class="period-name">{{ periods.day }}</div>

    </div>

    <div class="pull-right">
        <div class="other-views btn-group">
            <a class="btn" href="{% url day_calendar calendar.slug %}{% querystring_for_date periods.day.start 3 %}">Day</a>
            <a class="btn" href="{% url week_calendar calendar.slug %}{% querystring_for_date periods.day.start 3 %}">Week</a>
            <a class="btn" href="{% url month_calendar calendar.slug %}{% querystring_for_date periods.day.start 2 %}">Month</a>
            <a class="btn" href="{% url tri_month_calendar calendar.slug %}{% querystring_for_date periods.day.start 2 %}">3 Month</a>
            <a class="btn" href="{% url year_calendar calendar.slug %}{% querystring_for_date periods.day.start 1%}">Year</a>
        </div>
    </div>

</nav>

{% include "events/_dialogs.html" %}

<div id="day-wrap" class="row-fluid">

    <div id="am-col" class="span6">
      {% daily_table periods.day 570 80 600 0 12 %}
    </div>

    <div id="pm-col" class="span6">
      {% daily_table periods.day 570 80 600 12 24 %}
    </div>

</div>

{% endblock %}
